# Django #
*.log
*.pot
*.pyc
static/
__pycache__
db.sqlite3
media

# Backup files # 
*.bak

# Python # 
*.py[cod] 
*$py.class 

#paytm
paytm/

#cpannelfile
passenger_wsgi.py
tmp/
db.sqlite3
paytm/__pycache__/Checksum.cpython-37.pyc