{% load static %}
{% load custumfilter %}
<aside class="sidebar">
  <div class="sidebar__backdrop"></div>
  <div class="sidebar__container">
    <div class="sidebar__top">
      <div class="container container--sm">
        <a class="sidebar__logo" href=" {% static 'superuser2/index-2.html' %} ">
          <img class="sidebar__logo-icon" src=" /media/{{aboutdata.favicon}} " alt="#" width="44" />
          <div class="sidebar__logo-text">{{aboutdata.AdminTitle|slice:":8"}}</div>
        </a>
      </div>
    </div>
    <div class="sidebar__content" data-simplebar="data-simplebar">
      <nav class="sidebar__nav">
        <ul class="sidebar__menu">
          {% url "dashboardindex" as dashboardurl %}
          <li class="sidebar__menu-item"><a class="sidebar__link {% if request.path == dashboardurl %}active{% endif %}" href=" {{dashboardurl}}"
              aria-expanded="true"><span class="sidebar__link-icon">
                <svg class="icon-icon-dashboard">
                  <use xlink:href=" #icon-dashboard"></use>
                </svg></span><span class="sidebar__link-text">Dashboard</span></a>
          </li>

          {% with ''|sidebardata as modelslist %}
          {% for key,val in modelslist.items %}
          {% url "showapp" key as showappurl %}
          <li class="sidebar__menu-item"><a class="sidebar__link {% if showappurl in request.path %}active{% endif %}" href="{{showappurl}} "
              data-toggle="collapse" data-target="#{{key|slugify}}" aria-expanded="false"><span class="sidebar__link-icon">
                <svg class="icon-icon-cart">
                  <use xlink:href=" #icon-cart"></use>
                </svg></span><span class="sidebar__link-text">{{key|cemelcase}}</span><span class="sidebar__link-arrow">
                <svg class="icon-icon-keyboard-down">
                  <use xlink:href=" #icon-keyboard-down"></use>
                </svg></span></a>
            <div class="collapse" id="{{key|slugify}}">
              <ul class="sidebar__collapse-menu">
                {% for da in val %}
                {% url 'showdatamodel' key da as showdatamodelurl %}
                <li class="sidebar__menu-item"><a class="sidebar__link  {% if showdatamodelurl == request.path %}active{% endif %}"
                    href=" {{showdatamodelurl}} "><span class="sidebar__link-signal"></span><span
                      class="sidebar__link-text ">{{da|cemelcase}}</span></a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}
          {% endwith %}

        </ul>
      </nav>
    </div>
  </div>
</aside>